@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,body{
  min-height:100vh;
  height:100%;
  width:100%;
}
*,*::before,*::after{
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}
body {
  background-color:white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex-col-center{
  @apply flex flex-col justify-center items-center
}
.flex-row-center{
  @apply flex justify-center items-center
}
@media screen and (min-width:857px){
  .grid-syn{
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    align-items: start;
  }
  
}